<h1>Coupons#new</h1>
<h1>Coupon Form</h1>
<p>Find me in app/views/coupons/new.html.erb</p>

<%= form_tag coupons_path do %>
  <label>Coupon_code</label><br>
    <%= text_field_tag :coupon_code %><br>

  <label>Store</label><br>
  <%= text_area_tag :store %><br>

  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= submit_tag "Submit Coupon" %>
<% end %>
